* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
main {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cassette-main {
    width: 40rem;
    height: 18rem;
    background-color: lightgrey;
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem;
}
.cassette-main-body {
    width: 37rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: block;
    padding: 1.5rem;
}
.cassette-main-body-description {
    width: 34rem;
    height: 5rem;
    border: 0.2rem solid #000;
    margin-bottom: 0.2rem;
}
.cassette-main-body-reel {
    width: 24rem;
    height: 7rem;
    border: 0.3rem solid #000;
    margin: 0 auto;
    border-radius: 2rem;
}
.cassette-footer {
    width: 40rem;
    height: 8rem;
    background-color: #000;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cassette-footer-stuff {
    width: 20rem;
    height: 6rem;
    background-color: #fff;
}