* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
main {
    width: 100%;
    height: 100vh;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cassette-main {
    width: 40rem;
    height: 19rem;
    background-color: rgb(134, 240, 160);
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cassette-main-body {
    width: 36rem;
    height: 17rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: block;
    padding: 1.5rem;
}
.cassette-main-body-description {
    width: 34rem;
    height: 5rem;
    border: 0.2rem solid #000;
    margin-bottom: 0.2rem;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.6rem;
}
.cassette-main-body-reel {
    width: 24rem;
    height: 7rem;
    border: 0.3rem solid #000;
    margin: 0 auto;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
}
.circle1,
.circle2 {
    width: 5.5rem;
    height: 5.5rem;
    border: 0.2rem solid #000;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    width: 8.5rem;
    height: 5.5rem;
    border: 0.2rem solid #000;
}
.circle-circle {
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #000;
    border-radius: 10rem;
}
.cassette-main-body-mark {
    width: 100%;
    display: flex;

}
.cassette-main-body-mark-left {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mark {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8rem;
}
.cassette-main-body-mark-right {
    width: 50%;
}
.cassette-main-body-mark-right span:nth-child(1) {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.cassette-main-body-mark-right span:nth-child(2) {
    font-weight: bolder;
    font-size: 2.5rem;
}
.cassette-footer {
    width: 40rem;
    height: 7rem;
    background-color: rgb(134, 240, 160);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cassette-footer-stuff {
    width: 30rem;
    height: 6rem;
    clip-path: polygon(8% 0, 92% 0, 100% 100%, 0% 100%);
    background-color: #fff;
    display: flex;
}
.cassette-footer-stuff-left {
    width: 50%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot1 {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #000;
    border-radius: 4rem;
    margin-bottom: -2.5rem;
    margin-right: 2.5rem;
}
.square-stuff1 {
    width: 1.3rem;
    height: 1.3rem;
    border: 0.2rem solid #000;
}
.cassette-footer-stuff-right {
    width: 50%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-stuff2 {
    width: 1.3rem;
    height: 1.3rem;
    border: 0.2rem solid #000;
}
.dot2 {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #000;
    border-radius: 4rem;
    margin-left: 2.5rem;
    margin-bottom: -2.5rem;
}
